body {
	background: gray !importantj;
}

ul,li {
	display: block;
	padding: 0;
	margin:0;

}

.menu-bar {
	padding: 20px 0;
	color:#212121;
	background-color: #fff;
}

.menu__item a{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color:#212121;
}

.menu__item {
	margin-left: 37px;	
} 


.menu__item:hover a {
	text-decoration: none;
	color:#868686;	
} 